/* Tablet */
@media (max-width: 1452px) {  
  html , body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  } 
  
  body {
    position: relative;
    width: 768px;
    height: 1500px;
  }
  
  .logo-contenedor {
    position: absolute;
    width: 31px;
    height: 48px;
    left: 40px;
    top: 73.42px;
  }

  .logo-contenedor img{
    width: 31.09px;
    height: 46.37px;    
  }

  .convertir-texto {
    position: absolute;
    width: 688px;
    height: 288px;
    left: 40px;
    top: 240px;
  }

  .instruccion {
    width: 229px;
    height: 18px;
    position: absolute;
    top: 836px;
    left: 40px;
  }

  .botones-contenedor {
    position: absolute;
    width: 688px;
    height: 67px;
    left:   40px;
    top: 870px;
    gap: 24px;
  }

  .botones-contenedor button {
    width: 332px;
    height: 67px;
  }
  
  #desencriptador {
    position: absolute;
    left: 356px;
    width: 332px;
    height: 67px;
  }

  .muneco {
    display: none;
  }

  .texto-pendiente-contenedor {
    position: absolute;
    width: 688px;
    height: 133px;
    left: 40px;
    top: 1001px;
    padding: 32px 0;
    gap: 32px;
  }

  .mensaje-noencontrado {
    width: 624px;
    height: 29px;
    position: absolute;
    top: 32px;
    left: 32px;
  }

  .solicitud-texto {
    width: 624px;
    height: 24px;
    position: absolute;
    top: 77px;
    left: 32px;
  }

  .texto-resultado-contenedor {
    position: absolute;
    width: 688px;
    height: 343px;
    left: 40px;
    top: 1001px;
  }

  .texto-convertido {
    width: 624px;
    height: 180px;
    position: absolute;
    top: 32px;
    left: 32px;
  }

  .btn-copy {
    width: 624px;
    height: 67px;
    position: absolute;
    top: 244px;
    left: 32px;
  }

  .copyright {
    width: 688px;
    height: 20px;
    position: absolute;
    top: 95%;
    left: 32px;
  } 
}

/* Celular */

@media (max-width: 680px) {
  body {
    position: relative;
    width: 375px;
    height: 1840px;
  }

  .logo-contenedor {
    position: absolute;
    width: 375px;
    height: 96px;
    left: 0px;
    top: 0px;
  }

  .logo {
    height: 48px;
    width: 32px;
    position: absolute;
    left: 16px;
    top: 24px;
  }

  .convertir-texto {
    position: absolute;
    width: 343px;
    height: 624px;
    left: 16px;
    top: 152px;
  }

  .instruccion {
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 16px;
    top: 840px;
  }

  .botones-contenedor {
    position: absolute;
    width: 343px;
    height: 158px;
    left: 16px;
    top: 874px;
  }

  #encriptador, #desencriptador{
    width: 343px;
    height: 67px;
  }

  #desencriptador {
    left: 0px;
    top: 91px;
  }

  .texto-pendiente-contenedor {
    position: absolute;
    width: 327px;
    height: 186px;
    left: 24px;
    top: 1065px;
    gap: 32px;
  }

  .mensaje-noencontrado {
    width: 263px;
    height: 58px;
    position: absolute;
    top: 32px;
    left: 32px;
  }

  .solicitud-texto {
    width: 263px;
    height: 48px;
    position: absolute;
    top: 106px;
  }

  .texto-resultado-contenedor {
    height: 595px;
    width: 343px;
    left: 16px;
    top: 1096px;
  }

  .texto-convertido {
    width: 279px;
    height: 432px;
    position: absolute;
    top: 32px;
    left: 32px;
  }
  
  .btn-copy {
    width: 279px;
    position: absolute;
    left: 32px;
    top: 496px;
  }

  .copyright {
    width: 343px;
    height: auto;
    position: absolute;
    top: 100%;
    left: 16px;
  }
}