html , body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
} 

body {
  position: relative;
  width: 1440px;
  height: 1024px;
}

button {
  cursor: pointer;
}

.logo-contenedor {
  position: absolute;
  left: 40px;
  top: 40px; 
  width: 120px;
  height: 48px;
  text-align: center;
}

.logo-contenedor img {
  width: 31.09px;
  height: 48px;
}

.convertir-texto {
  width: 680px;
  height: 288px;
  position: absolute;
  left: 240px;
  top: 168px;
}

.instruccion {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 229px;
  height: 18px;
  left: 240px;
  top: 851px;
  gap: 8px;
}

.instruccion img {
  width: 16px;
  height: 16px;
}

.instruccion p {
  width: 205px;
  height: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
}

.botones-contenedor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  width: 680px;
  height: 67px;
  left: 240px;
  top: 885px;
}

.botones-contenedor button {
  width: 328px;
  height: 67px;
  padding: 24px;
}

.texto-pendiente-contenedor {
  position: absolute;
  width: 400px;
  height: 944px;
  left: 1000px;
  top: 40px;
}

.muneco {
  position: absolute;
  left: 32px;
  top: 243px;
  width: 336px;
  height: 304px;
}

.mensaje-noencontrado {
  width: 336px;
  height: 58px;
  position: absolute;
  top: 579px;
  left: 32px;
}

.solicitud-texto {
  width: 336px;
  height: 48px;
  position: absolute;
  top: 653px;
  left: 32px;
  bottom: 243px;
}

.texto-resultado-contenedor {
  position: absolute;
  width: 400px;
  height: 944px;
  left: 1000px;
  top: 40px;
}

.texto-convertido {
  position: absolute;
  width: 336px;
  height: 781px;
  left: 32px;
  top: 32px;
}

.btn-copy {
  position: absolute;
  width: 336px;
  left: 32px;
  top: 845px;
}

.copyright {
  width: 100%;
  position: absolute;
  top: 98%;
}

.ocultar {
  display: none;
}